---
taget: .drone.yml
---

pipeline:
  build:
    image: debian
    commands:
      - make kernel
      - make test

  publish:
    github_release:
    image: plugins/github-release
    secrets: [ github_token ]
    files: dist/$KERNEL_VERSION/*
    file_exists: overwrite
    checksum: sha256
    when:
      event: tag
